.container.body-content {
	margin-top: 70px;
}

.nav-tabs {
	margin-bottom: 15px;
}

#loginFormContainer {
	margin: 0 auto;
	float: none;
}

/*Profile*/
.profile_info {
	margin-top: 10px;
}

.glyphicon {
	margin-right: 5px;
}

.badge_table {
	table-layout: fixed;
}

.badge_table td {
	text-align: center;
	width: 20%;
}

.faded {
	opacity: 0.12;
	filter: alpha(opacity=12);
}

.panel-heading {
	color: #FFF;
}

#aboutMePanelHeading {
	padding: 6px;
	background-color: #c1c1c1;
}

#aboutMePanelHeading h3 {
	font-size: 12px;
}

.badgeImage:hover {
	cursor: pointer;
}

/*Admin*/
.admin_table tr:hover {
	cursor: pointer;
}

.modal_x {
	color: #727272;
}

.admin_badge {
	max-width: 50px;
}

.fileinput {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.fileinput .thumbnail {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 5px;
	display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}